[submodule "mini-app1"]
	path = mini-app1
	url = https://github.com/Acuity-Inc/techchallenge-template-rn-mini-app1
[submodule "mini-app2"]
	path = mini-app2
	url = https://github.com/Acuity-Inc/techchallenge-template-rn-mini-app2
[submodule "super-app"]
	path = super-app
	url = https://github.com/Acuity-Inc/rn-super-app-poc
